// $fa-font-path: "../../bower_components/fontawesome/fonts/";

$fa-font-path: "../fonts/fontawesome";

$fa-font-name: "fontawesome-webfont" !default;
$fa-font-size-base: 14px !default;
$fa-css-prefix: fa !default;
$fa-version: "4.3.0" !default;
$fa-border-color: #eee !default;
$fa-inverse: #fff !default;
$fa-li-width: (30em / 14) !default;
